.ObjectTableContainer {
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.ObjectTable {
    width: fit-content;
    text-align: start;
    border-spacing: 12px 0px;
}

.numeric {
    /* align right for both LTR and RTL views */
    text-align: right;

    /* equalize the character width */
    font-family: Avenir, 'Courier New', monospace;
}

.sort {
    display: inline-block;
    margin: 0;
    margin-left: 4px;
    padding: 2px;
    border-radius: 2px;
}

.sort.active {
    background-color: var(--color-button-primary);
    color: var(--color-background);
}