

.seeMore {
    margin: 0px;
    padding: 0.25em .5em;
    font-weight: normal;
}

.HoverCard {
    background: #f9f9f9;
    border-radius: 0.5em;
    padding: 0.8em 1em;
    margin: 0.5em;
    position: fixed;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    pointer-events: none;
    z-index: 9999;
    max-width: 30%;
    text-align: start;
}

.HoverCard h3 {
    /* It's at the top of the card already */
    margin-top: 0px;
}