.ButtonGroupSingleChoice {
    margin-left: 0.125em;
    margin-right: 1em;
}

.ButtonGroupSingleChoice button {
    color: #0077d4;
    background: white;
    border: 0.125em solid #0077d4;
    margin-left: -0.125em;
    margin-right: -0.125em;
    line-height: 1.5;
    padding: .5rem 1rem;
    font-size: 20px;
    cursor: pointer;
}

.ButtonGroupSingleChoice button:hover {
    background: #e0f1ff;
}

.ButtonGroupSingleChoice button:first-child {
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
}

.ButtonGroupSingleChoice button:last-child {
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
}

.ButtonGroupSingleChoice button.selected {
    background: #0077d4;
    color: white;
}