.NavBar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.25em;
}

.NavBar h1 {
    font-size: 1.5em;
    white-space: nowrap
}

.NavBar .selector {
    font-size: 1.2em;
    line-height: 1.2em;
    align-content: center;
}

.NavBar .selector,
.NavBar h1 {
    margin: 0 0.5em 0.5em 0.5em;
}

.Options {
    margin: 0 1em;
}

.selector.tabs button, .selector.tabs input, .selector.tabs label {
    border: none;
    border-bottom: 0.125em solid var(--color-button-primary) ;
    border-radius: 0px ;
} 

.selector {
    margin-left: 0.125em;
    margin-right: 0.5em;
    display: inline-flex;
    align-items: end;
    margin-bottom: 0.5em;
}

.selector button,
.selector input,
.selector label {
    border: 0.125em solid var(--color-button-primary);
    margin-left: -0.125em;
    margin-right: -0.125em;
    line-height: 1em;
    padding: .5rem .5rem;
    white-space: nowrap;
}

.selector input {
    color: var(--color-background);
    background: var(--color-button-primary);
    padding: 0.4rem;
    line-height: 1.5em;
}

.selector button {
    color: var(--color-button-primary);
    background: var(--color-background);
    cursor: pointer;
    border-radius: 0px;
    /* radius comes from more specific changes */
    line-height: 1em;
}

.selector input.empty {
    color: var(--color-button-primary);
    background: var(--color-background);
}

.selector input::placeholder {
    color: var(--color-text-secondary);
    background: var(--color-background);
}

.selector button:hover {
    color: var(--color-background);
    background: var(--color-button-hover);
}

.selector :focus {
    border-color: var(--color-button-hover);
    background: var(--color-button-hover);
}

.selector.rounded :first-child {
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
}

.selector.rounded :last-child,
.selector.rounded .LastChild {
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
}

.selector .selected {
    background: var(--color-button-primary);
    color: var(--color-background);
}

.selector label {
    background: var(--color-button-background);
    color: var(--color-text);
}

.NoLeftBorder {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none !important;
}

.selector button:disabled,
.selector button:disabled:hover {
    color: var(--color-text-secondary);
    pointer-events: none;
}

.SelectorPopupAnchor {
    position: relative;
}

.SelectorPopup {
    background: var(--color-background);
    border: 0.125em solid var(--color-button-primary);
    align-items: end;
    position: absolute;
    display: flex;
    right: 0px;
    flex-direction: column;
    width: fit-content;
    z-index: 100;
}

.rounded .SelectorPopup{
    border-radius: 1.15em !important;
}

.SelectorPopup button {
    border: none;
    border-radius: 0px;
    width: 100%;
    line-height: 1;
    font-size: 1em;
    text-align: end;
    margin: 0px;
}

.rounded .SelectorPopup :first-child {
    border-radius: 1em 1em 0em 0em;
}

.rounded .SelectorPopup :last-child {
    border-radius: 0em 0em 1em 1em;
}