#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Guarantee it always spans the viewport */
}

:root {
  --color-text: #222;                        /* Primary text color */
  --color-text-secondary: grey;
  --color-text-highlight: #ffffa1;
  --color-background: #ffffff;              /* App/page background */
  
  --color-button-border: #06d;     /* Button outlines and inactive text */
  --color-button-primary: #007bff;           /* Bright, clickable primary action */
  --color-button-secondary: #f0f0f0;         /* Inactive selection options, secondary buttons */
  --color-button-hover: #3399ff; /* selector hovered over or active*/
  
  --color-shadow: rgba(0, 0, 0, 0.1);        /* Subtle shadow for depth */
  
  --color-text-red: #df7e7c;   
  --color-text-orange: #fb8c00;
  --color-text-yellow: #fbc02d;
  --color-text-green: #43a047; 
  --color-text-blue: #1e88e5;  
  --color-text-purple: #8e24aa;
}

:root {
  font-family: Avenir, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.Body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-align: center;

  flex: 1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  margin-top: 8px;
  margin-bottom: 4px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  color:var(--color-text);
  background-color: var(--color-button-secondary);
}

.unsupported {
  font-style: italic;
  font-weight: lighter;
  color: var(--color-text-secondary);
}

footer {
  align-items: center;
  background-color: var(--color-button-secondary);
  border: 1px solid var(--color-text-secondary);
  color: var(--color-text-secondary);
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  margin-top: 2em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #f1f1f1;
    --color-text-secondary: #aaaaaa;
    --color-background: #121212;
    --color-text-highlight: #575741;

    --color-button-border: #444;
    --color-button-primary: #3399ff;
    --color-button-secondary: #444;
    --color-button-hover: #0061c3;

    --color-shadow: rgba(255, 255, 255, 0.5);

    --color-text-red: #ff6e6e;  
    --color-text-orange: #ffb74d;  
    --color-text-yellow: #ffeb3b;  
    --color-text-green: #66bb6a;   
    --color-text-blue: #42a5f5;  
    --color-text-purple: #ce93d8;  
  }
}
